
.healthArticlesContainer {
    height: 55vh;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 5px -1px #f00 inset;
    overflow-y: auto;
}

.healthContainer {
    width: 100%;
    margin-top: 7vh;
}
