
.forumMessageInputContainer {
    width: 100%;
}

.messageInput {
    width: 100%;
    box-shadow: 0 0 4px 1px #f00 inset;
    border-radius: 5px;
    padding: 5px;
    color: #f00;
    font-weight: 900;
    font-size: 1.25em;
    margin-bottom: 1vh;
    border: none;
}