
.appName {
    margin-top: 0;
    color: #f00;
    font-weight: 900;
    opacity: 0.75;
}

.callToActionText {
    margin-top: 7vh;
    font-weight: 700;
    font-size: 1.33em;
}

.col {
    width: 50%;
}

.containerTitle {
    margin-bottom: 0;
    font-size: 5em;
}

.downloadButton {
    width: 40%;
}

.downloadImage {
    width: 100%;
}

.downloadRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.featureCardsContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.featuresContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 7vh;
}

.featuresTitleRow {
    width: 100%;
}

.heartFlexingImage {
    width: 75%;
}

.healthyHeartCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.healthyHeartCol:last-child {
    align-items: flex-start;
}

.healthyHeartContainer {
    margin-top: 7vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.healthyHeartDescription {
    font-weight: 700;
    font-size: 1.33em;
}

h2.containerTitle {
    font-size: 3em;
}

.homeContainer {
    margin-top: 7vh;
    animation-name: FadeIn;
    animation-duration: 1500ms;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}

@keyframes FadeIn {
    0% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

.homeHeaderCol:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeHeaderContainer {
    display: flex;
    width: 100%
}

.screenshot {
    width: 50%;
    border-radius: 30px;
    border: 4px solid #000;
    box-shadow: 0 0 5px -1px black;
}