.featureCardContainer {
    width: 30%;
    transition: all 400ms ease-out;
}

.featureCardInfoContainer {
    margin-top: 1vh;
}

.featureDescription {
    font-weight: 700;
    font-family: sans-serif;
}

.featureImage {
    width: 100%;
    border-radius: 30px;
    border: 4px solid #000;
    box-shadow: 0 0 5px -1px black;
}

.featureTitle {
    color: #f00;
    font-weight: 900;
    margin-bottom: 0;
}