.message-column {
    margin: 0 auto;
    word-break: break-all;
    text-align: left;
    font-size: 1.1em;
    letter-spacing: 0.10em;
    font-weight: 300; 
}

.message-container {
    border-bottom: 1px solid #000;
    padding: 3em 0 2em 0;
    box-shadow: 0 3px 2px -2px #000;
}

.username-column {
    font-size: 1.5em;
    font-weight: 700;
}