.message-column {
    margin: 0 auto;
    word-break: break-all;
    text-align: left;
    font-size: 1.1em;
    letter-spacing: 0.10em;
    font-weight: 300; 
}

.message-inner-container {
    background-color: #7777ff;
    color: #fff;
    padding: 2em 0;
    /* box-shadow: 0 0 2px 0 #333; */
    border-radius: 5px;
}

.message-outer-container {
    border-bottom: 5px solid #ffeeee;
    padding: 3em 0 2em 0;
    box-shadow: 0 3px 2px -2px #ff7777;
}

.reply-title-row {
    background-color: #ffff77;
    display: inline;
    padding: 5px 10px;
    box-shadow: 0 0 2px -1px #333;
}

.username-column {
    font-size: 1.5em;
    font-weight: 700;
}

