.input-form-container {
    width: 50%;
    display: block;
    padding: 2em 0;
    animation-name: Appear;
    animation-duration: 800ms;
    animation-iteration-count: 1;
}

@keyframes Appear {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

.forum-message-input-row {
    margin: 1em 0 2em 0;
    text-align: right;
}

.forum-message-input {
    width: 100%;
    
}

.forum-input-label {
    width: 100%;
    text-align: right;
}

.forum-message-submit-btn {
    background-color: #fff;
    width: 200px;
}