.App {
  padding: 3%;
}

.download-sticker {
  position: fixed;
  right: 30px;
  top: 0px;
}

.download-sticker :hover {
  cursor: pointer;
}

.basic-btn {
  color: #000;
  text-decoration: none;
  padding: 2% 1%;
  border: 1px solid black;
  display: block;
  transition: border-radius 200ms, box-shadow 200ms, background-color 200ms, font-weight 200ms;
}

.basic-btn:hover {
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 0 2px 0 #555;
    font-weight: 900;
    color: #fff;
    background-color: #000;
}
