.nav-img {
    display: block;
    width: 50%;
}

.nav-container {
    margin-top: 7%;
}

.other-page-btn {
    width: 50%;
}


@media (max-width: 575px) {
    .nav-img, .other-page-btn {
        margin: 1em auto;
    }
}

