
.graphContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    animation-name: Spin;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

@keyframes Spin {
    0% {
        transform: rotate(0deg) scale(1.00);
    }
    50% {
        transform: rotate(180deg) scale(1.35)
    }
    100% {
        transform: rotate(360deg) scale(1.2);
    }
}